* {
    box-sizing: border-box;
}
html {
    font-family: "Avenir Next", "Avenir", sans-serif;
}
body {
    margin: 0;
    padding: 0;
    background: #fff;
    line-height: 1.5;
    font-size: 100%;
    min-height: 100vh;
}

a,
a:visited,
a:active {
    color: #fff;
}

a.blk,
a:visited.blk,
a:active.blk {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
h1,
h2,
h3,
h5,
h5 {
    font-family: monospace;
}
h1 {
    font-size: 4rem;
    margin-left: 6rem;
}

.centered {
    text-align: center;
}

.holder,
.port {
    margin-left: auto;
    margin-right: auto;
}

.holder {
    width: 100%;
    text-align: center;
}

.port {
  text-align: left;
  width: 22rem;
  padding-left: 1rem;
}



header {
    background-color: red;
    color: #fff;
    padding: 0.25rem;
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
    width: 100%;
}

main {
    padding: 0.6rem;
    width: 100%;
    position: relative;
}

footer {
    padding: 0.6rem;
    background-color: red;
    color: #fff;
    text-align: center;
    height: 2.5rem;
    width: 100%;
}

picture {
  position: absolute;
  top: 0;
  left: 0.25rem;
}
